.history-section {
    text-align: center;
    background: #eee;
    padding-bottom: 20px;
}

.war-win  { color: green; }
.war-loss { color: red; }
.war-tie  { color: black; }

.panel, .panel-heading
{
	border-radius: 20px !important;
}

.panel-default>.panel-heading
{
	background-color: white;
}

.panel-body > img
{
	width: 100%;
}



/*	border-radius: 10px;

	box-shadow: 0px 0px 10px 5px #dadada;*/