#member-panel-container
{
	width: auto;
	margin: 0 auto 0 auto;
}

.member-panel
{
	width: 150px;
	height: 100px;

	margin: 20px;
	padding: 3px;

	float: left;

	border-radius: 5px;
	border: solid #dadada;
	background-color: white;

	box-shadow: 0px 0px 3px #dadada;
}