



.clan_name
{
	
}

.btn
{
	box-shadow: 0px 0px 10px #dadada;

}

#navigation-buttons
{
	
}

#navigation-buttons .btn
{
	margin: 5px 0px 5px 0px;

	width: 100%;
}

#gf-logo
{
	width: 80%;

}

#rules-main-container
{

}


















